BODY {background-color : #BADBAD ;}
H1{color:red;font-family:verdana;font-style:oblique;}
H1{font-size: 100px;}
ol{font-size: 33px;}
ol{font-family: arial; font-style: normal;}
H2{color:red;font-family:sans-serif;font-style:italic ;}
H2{font-size: 50px;}
H3{color:red;font-family:sans-serif;font-style:italic ;}
H3{font-size: 40px;}
P{font-size: 33px;}
P{color:red;font-family: arial; font-style: normal;}